@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient__bg { 
  background:radial-gradient(circle at 77% 50%, #790000 -300%, #0a0a0a 55%);
}

.gradient__news { 
  background:radial-gradient(circle at 100% 50%, #af0000 -300%, #0a0a0a 55%);
}

.gradient__about { 
  background:radial-gradient(circle at 100% 5%, #af0000 -300%, #0a0a0a 55%);
}

.gradient__card {
  background: linear-gradient(180deg, #0a0a0a 0%, #af0000 400%);
}

.reflect {
  -webkit-box-reflect: below 1px linear-gradient(
      transparent, #0005);
}

.hover_animate {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.hover_shadow:hover {
  box-shadow: 0 0 5px #9e0000,
              0 0 25px #9e0000,
              0 0 75px #9e0000,
              0 0 100px #9e0000;
}

.hover_animate:hover:before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent, #9e0000);
  animation: animate 1s linear infinite;
}


@keyframes animate {
  0% {
      right: -100%
  }
  50%,100% {
      right: 100%;
  }
}

.zoom {
  transition: 0.5s all ease-in-out;
}

.zoom:hover {
  transform: scale(1.5);
}

